/* common section start here */
*{
    margin: 0;
    padding: 0;
}



.box{
    display: flex;
}

ul,ol{
    list-style: none;
    
}



/* common section end here */


/* navbar section start here */
.navbar_section{
  background: #1C1E53;
  width: 1600px;
  height: 760px;
  }

  .navbar_section .container{
    padding: 20px 0;
  }
.navbar_section .log{
    width: 20%;
    
}

.navbar_section .menu{
    width: 60%;
    
}

.navbar_section .navbar-nav1{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:0 20px
}


.navbar_section .btn01{
    width: 20%;
}
.navbar_section .nav-item a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: "Poppins", serif;
    
}

.btn01 a{
 text-decoration: none;
  border: 2px solid rgba(244, 246, 252, 0.2);
  width: 185px;
  height: 60px;
  border-radius: 41px;
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-left: 40px;

}


/* navbar section end here */


/* here section star here */
.hero_section .content h1{
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    width: 582px;
    margin-bottom: 24px;
    
}

.hero_section .content p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    line-height: 28px;
    width: 562px;
}

.hero_section .web_img img{
width: 478.5px;
height: 361.12px;
top: 241px;
left: 882px;
gap: 0px;
opacity: 0px;

}

.hero_section .btn_section .btn001{
    
    width: 230px;
    height: 64px;
    border-radius: 41px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #1B1C2B;
    background: #FCD980;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
/* hero section end here */